#deleteToday {
  font-size: 1.2rem;
  color: #fff;
  background-color: red;
}

.calendayHome {
  background-color: #fff4e3;
  width: 100svw;
  height: 100svh;
}

.calendarDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: bold;
}

.react-calendar {
  border: 5px solid white !important;
  box-sizing: border-box !important;
}
.react-calendar__navigation {
  height: 6rem !important;
  margin-bottom: 0 !important;
  font-weight: bold !important;
}
.react-calendar__month-view__weekdays__weekday {
  background-color: #f9fff2;
  border: 3px solid white !important;
}
.react-calendar__navigation button {
  font-size: 2rem;
}
.react-calendar__tile {
  font-size: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-calendar__tile--active {
  color: black !important;
  background-color: #ffb762 !important;
}
.react-calendar__month-view__days__day {
  height: 4rem !important;
}
.react-calendar__month-view__days__day {
  border: 3px solid white !important;
  color: #000 !important;
}
.react-calendar__month-view__days__day--weekend {
  background-color: #71d7f7 !important;
  color: red !important;
}
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: gray !important;
}
.react-calendar__tile--now {
  background-color: #fff !important;
  border: 5px solid #ffb762 !important;
}
