.headerBtn {
  width: 64px;
  height: 64px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border: solid 5px #000;
  border-radius: 12px;

  box-shadow: 4px 4px 0 0 black;
}

.headerBtn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
  transition: 0.1s;
}
