.receiveContainer {
  position: relative;

  margin: 0 24px;

  border: solid 5px #000;
  background-color: #fff;
  border-radius: 15px;

  padding: 16px;

  height: 70%;

  overflow: scroll;
}
.receiveContainer h1 {
  text-align: center;
  font-size: 28px;
  margin-top: 16px 0;
}

.receiveList {
  position: relative;
  counter-increment: list;

  display: flex;
  justify-content: space-between;

  padding-left: 5%;
  margin-bottom: 4%;

  font-size: 20px;
  font-weight: bold;
}
.receiveList span::before {
  content: '￥';
  position: absolute;
  left: 44%;
}

.receiveList::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.receiveDescription {
  display: block;

  font-size: 16px;
  margin: 8px 0;

  border-bottom: solid 5px #000;

  width: 100%;

  word-break: break-all;
}

.deleteBtn {
  background-color: #fff;

  border: solid 3px #000;
  border-radius: 8px;

  font-weight: bold;
  color: #000;

  height: 30px;
}

.listName {
  width: 40%;

  word-break: break-all;
}
.listPrice {
  width: 32%;
  word-break: break-all;
}

.totalPriceArea {
  width: 100%;

  font-weight: bold;
}
.totalPriceAreaTotal {
  font-size: 25px;

  display: flex;
  justify-content: end;
}
.totalPriceAreaTotalExpense,
.totalPriceAreaTotalIncome {
  font-size: 20px;

  display: flex;
  justify-content: end;
}

.line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #000;
}

.receiveBtnArea {
  position: absolute;
  left: 50%;
  bottom: 4%;
  transform: translate(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4%;
}

.receiveBtnArea button {
  color: #000;

  width: 112px;
  height: 60px;

  border: solid 5px #000;
  border-radius: 15px;

  background-color: #fff;
  font-size: 2rem;
  font-weight: bold;

  box-shadow: 4px 4px 0 0 black;
}

.receiveBtnArea button:nth-child(1) {
  background-color: #ff8888;
}
.receiveBtnArea button:nth-child(2) {
  background-color: #8bee89;
}
.receiveBtnArea button:nth-child(3) {
  background-color: #93dfff;
}
