.homeSpend {
  background-color: #ffc3bb;
  width: 100vw;
  height: 100vh;
}
.homeIncome {
  background-color: #fcd894;
  width: 100vw;
  height: 100vh;
}

.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px;
}

.dateTitle {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.switchInput {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30% 0 20% 0;
}

.switchBtn {
  font-size: 20px;
  font-weight: bold;
  color: #000;

  padding: 8px 16px;
  margin: 12px;

  background-color: #fff;

  border: solid 5px #000;
  border-radius: 8px;

  box-shadow: 4px 4px 0 0 black;
}

.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputbox {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
}

.inputbox input {
  display: flex;
  justify-content: center;
  align-self: center;

  height: 50px;
  width: 200px;

  font-size: 30px;
  font-weight: bold;

  border: solid 5px black;
  border-radius: 8px;

  margin-left: 16px;
  margin-bottom: 8%;
}

.switchBtnPressedSpend {
  box-shadow: none;
  transform: translate(4px, 4px);
  transition: 0.1s;
  background-color: #ffa9a9;
}
.switchBtnPressedIncome {
  box-shadow: none;
  transform: translate(4px, 4px);
  transition: 0.1s;
  background-color: #fcb733;
}

.submitBtn {
  font-size: 30px;
  font-weight: bold;

  border: solid 5px black;
  border-radius: 8px;

  background-color: #fff;
  box-shadow: 4px 4px 0 0 black;

  padding: 10px 20px;

  transition: 0.2s;

  margin: 20% 0;
}
.submitBtn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
  transition: 0.2s;
}
