.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.homeSpend {
  background-color: #ffc3bb;
  width: 100vw;
  height: 100dvh;
}
.homeIncome {
  background-color: #fcd894;
  width: 100vw;
  height: 100dvh;
}

#calendar {
  position: relative;
}
#calendar::after {
  content: '';
  position: absolute;

  width: 5px;
  height: 20px;

  top: -20%;
  left: 20%;

  background-color: black;
  border-radius: 20px;
}
#calendar::before {
  content: '';
  position: absolute;

  width: 5px;
  height: 20px;

  top: -20%;
  right: 20%;

  background-color: black;
  border-radius: 20px;
}
